<ul class="right-navbar navbar-right">
    <li class="dropdown">
        <h4>admin dash board </h4> 
    </li>
    <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle"><img src="/assets/images/iconAvatar.png"></a>
        <a href="/home" class="dropdown-toggle"><img src="/assets/images/iconHome.png"></a>
        <a href="/logout"  class="dropdown-toggle"><img src="/assets/images/iconLogout.png"></a>
    </li> -->
</ul>