<div class="hoe-left-header">
    <div class="hoe-left-header-logo-img"> 
        <a href="/home"><img class="img-fit" src="/assets/images/bg_logo.png" width="140" height="45" alt="" class="nav-logo"></a>
     </div>
</div>