<ul class="left-navbar navbar-left">
    <li class="dropdown" style="margin-left : 20px;">
        <select name="affId" id="selAffiID" style="color :white !important;">
                <option>Overall</option>
                <option>affid 283</option>                
                <option>affid 284</option>
                <option>affid 285</option>
                <option>affid 286</option>
            </select>
    </li>
    <li class="dropdown" style="margin-left : 10px;">
        <select name="crmSetting" id="selCrmType" style="color :white !important;">
                <option>Cake</option>
                <option>LimeLigth</option>
                <option>Konnektive</option>                    
            </select>
    </li>
    <li class="dropdown" style="margin-left : 10px;">
        <select name="crmSetting" id="selLastDays" style="color :white !important;">
                <option>Last 1~999 Days</option>
                <option>Last 1~99  Days</option>
                <option>Last 1~9   Days</option>                    
            </select>
    </li>
    <li class="dropdown" style="margin-left : 10px;">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Settings <i class="fa fa-cog" style="margin-left : 5px;"></i></a>
        <ul class="dropdown-menu dropdown-menu-scale user-dropdown">
            <li>
                <a href="#">
                    <div class="i-checks"><label><input id="chooseDecline" type="radio" checked="" value="option1" name="a"> <i></i> Declien</label></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="i-checks"><label><input id="chooseChargeBack" type="radio" value="option2" name="a"> <i></i> Charge back</label></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="i-checks"><label><input id="choosePurchase" type="radio" value="option2" name="a"> <i></i> Purchase</label></div>
                </a>
            </li>
        </ul>
    </li>
</ul>