<!DOCTYPE html>
<html lang="en">
    <% include ./layoutHead %>
    <body>
        <div class="page-center">
            <div class="page-center-in">
                <div class="page-error-box">                 
                    <h1>404</h1>
                    <h4>Email or Password is not correct</h4>
                    <p>
                        Sorry, You can not login with this credential. Please check your email and password again.
                    </p>
                    <div class="space-20"></div>
                    <a href='/login' class="btn btn-lg btn-default rounded">back to home</a>
                </div>
            </div><!--page center in-->
        </div><!--page center-->
    </body>
</html>
