<% layout('../layout') -%>

<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout">
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <% include ../partial/navHeader %>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg5" hoe-lpanel-effect="shrink">
            <% include ../partial/leftDrawer %>
            <!--start main content-->
            <section id="main-content">
                <div class="container">
                    <div class="main-title">
                        <h1> Analytic for ScoutMapp </h1>
                    </div>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 margin-b-30">
                                <div class="statistic-widget-box" style="background-color: blue; color:white">
                                    <i class="fa fa-shopping-bag"></i>
                                    <div class="content overflow-hidden">
                                        <h1 id="nTotalUser">0</h1>
                                        <p>Total User Download</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 margin-b-30">
                                <div class="statistic-widget-box" style="background-color: purple; color:white">
                                    <i class="fa fa-usd"></i>
                                    <div class="content overflow-hidden">
                                        <h1 id="nTotalVideos">0</h1>
                                        <p>Total Uploaded Videos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 margin-b-30">
                                <div class="statistic-widget-box" style="background-color: green; color:white">
                                    <i class="fa fa-users"></i>
                                    <div class="content overflow-hidden">
                                        <h1 id="nTotalArticles">0</h1>
                                        <p>Total Uploaded Articles</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--row end-->
                </div>
            </section>
        </div>
    </div>
    <!--end main content-->
    <!-- Validate JS -->
    <script src="/assets/js/validetta.min.js"></script>

    <script>
        $('#idAnalytics').addClass('active');
        $(document).ready(function () {
            txtTotalUser = document.getElementById("nTotalUser");
            txtTotalVideos = document.getElementById("nTotalVideos");
            txtTotalArticles = document.getElementById("nTotalArticles");

            getAnalyticInfo();

            function getAnalyticInfo() {
                $.get(`/api/analytics/info`, function (response) {
                    console.log(response)
                    loadData(response.data)
                });
            }
            function loadData(data) {
               txtTotalUser.innerHTML = data["totalUsers"];
               txtTotalVideos.innerHTML = data["totalVideos"];
               txtTotalArticles.innerHTML = data["totalArticles"];
            }
        });
    </script>
</body>