<aside id="hoe-left-panel" hoe-position-type="absolute">
    <div class="centerImage" style="padding: 20px; border-radius: 50%;">
        <img class="img-circle img-fit" height ="80" width="80" src="/assets/images/nav_bar_log_lg.png" alt="">
    </div>
    <ul class="nav panel-list">
        <li class="hoe-has-menu" id="idPlayerManagement">
            <a href="javascript:void(0)">
                <i class="fa fa-user"></i>
                <span class="menu-text">Players</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li id="idPlayerDatabase">
                    <a href="/playerDB">
                        <i class="fa fa-dot"></i>
                        <span class="menu-text">Database</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li id="idPlayerUsers">
                    <a href="/players">
                        <i class="fa fa-dot"></i>
                        <span class="menu-text">Users</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="hoe-has-menu" id="idCoachManagement">
            <a href="javascript:void(0)">
                <i class="fa fa-book"></i>
                <span class="menu-text">Coaches</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li id="idCoachDatabase">
                    <a href="/coachDB">
                        <i class="fa fa-dot"></i>
                        <span class="menu-text">Database</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li id="idCoachUsers">
                    <a href="/coaches">
                        <i class="fa fa-dot"></i>
                        <span class="menu-text">Users</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="single" id="idVideos">
            <a href="/videos">
                <i class="fa fa fa-industry"></i>
                <span class="menu-text">Videos</span>
                <span class="selected"></span>
            </a>
        </li>

        <li class="single" id="idAnalytics">
            <a href="/analytics">
                <i class="fa fa fa-industry"></i> 
                <span class="menu-text">Analytics</span>
                <span class="selected"></span>
            </a>
        </li>

        <li class="single" id="idTeamManagement">
            <a href="/teams">
                <i class="fa fa fa-industry"></i>
                <span class="menu-text">Team Management</span>
                <span class="selected"></span>
            </a>
        </li>

    </ul>
</aside>