<header id="hoe-header" hoe-lpanel-effect="shrink">
    <% include ./navItem/rightItem %>
    <div class="hoe-right-header" hoe-position-type="relative">
        <% include ./navItem/leftItem %>
    </div>
</header>